USE [master]
GO
/****** Object:  Database [KocaaliDB]    Script Date: 28.01.2026 11:59:38 ******/
CREATE DATABASE [KocaaliDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KocaaliDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KocaaliDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KocaaliDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KocaaliDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KocaaliDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KocaaliDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminLogs]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Islem] [nvarchar](50) NOT NULL,
	[TabloAdi] [nvarchar](100) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[IPAdresi] [nvarchar](45) NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AdminLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[SifreHash] [nvarchar](255) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AfadAcilToplanmaAlanlari]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AfadAcilToplanmaAlanlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](200) NOT NULL,
	[Ilce] [nvarchar](100) NOT NULL,
	[Mahalle] [nvarchar](200) NOT NULL,
	[Enlem] [nvarchar](50) NULL,
	[Boylam] [nvarchar](50) NULL,
	[Elektrik] [bit] NOT NULL,
	[Yol] [bit] NOT NULL,
	[WcKanSistemi] [bit] NOT NULL,
	[SiraNo] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_AfadAcilToplanmaAlanlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[PublishDate] [datetime2](7) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_Announcements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasvuruKilavuzlari]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasvuruKilavuzlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](200) NOT NULL,
	[Aciklama] [nvarchar](1000) NULL,
	[DosyaUrl] [nvarchar](500) NULL,
	[DisLink] [nvarchar](500) NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[PdfUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_BasvuruKilavuzlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BilgiEdinmeBasvurulari]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BilgiEdinmeBasvurulari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SahisTuru] [nvarchar](20) NOT NULL,
	[KimlikNo] [nvarchar](50) NULL,
	[DogumGunu] [int] NULL,
	[DogumAyi] [int] NULL,
	[DogumYili] [nvarchar](10) NULL,
	[Ad] [nvarchar](100) NULL,
	[Soyad] [nvarchar](100) NULL,
	[EvTelefonu] [nvarchar](50) NULL,
	[CepTelefonu] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[IletisimAdresi] [nvarchar](500) NULL,
	[BasvuruMetni] [nvarchar](2000) NULL,
	[CevapNasilVerilsin] [nvarchar](50) NULL,
	[Unvan] [nvarchar](500) NULL,
	[VergiDairesi] [nvarchar](200) NULL,
	[VergiNo] [nvarchar](50) NULL,
	[IsTelefonu] [nvarchar](50) NULL,
	[TuzelCepTelefonu] [nvarchar](50) NULL,
	[TuzelEmail] [nvarchar](200) NULL,
	[TuzelIletisimAdresi] [nvarchar](500) NULL,
	[TuzelBasvuruMetni] [nvarchar](2000) NULL,
	[TuzelCevapNasilVerilsin] [nvarchar](50) NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[OkunduMu] [bit] NOT NULL,
 CONSTRAINT [PK_BilgiEdinmeBasvurulari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calismalar]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calismalar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[PublishDate] [datetime2](7) NOT NULL,
	[Durum] [nvarchar](50) NULL,
 CONSTRAINT [PK_Calismalar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duyurular]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duyurular](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](200) NOT NULL,
	[Aciklama] [nvarchar](1000) NOT NULL,
	[YayindaMi] [bit] NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Duyurular] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EskiBaskanlar]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EskiBaskanlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](200) NOT NULL,
	[Donem] [nvarchar](100) NOT NULL,
	[ResimYolu] [nvarchar](500) NOT NULL,
	[SiraNo] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_EskiBaskanlar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etkinlikler]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etkinlikler](
	[EtkinlikID] [int] IDENTITY(1,1) NOT NULL,
	[EtkinlikAdi] [nvarchar](100) NOT NULL,
	[EtkinlikTarihi] [datetime2](7) NOT NULL,
	[EtkinlikAciklama] [nvarchar](max) NOT NULL,
	[EtkinlikResimYolu] [nvarchar](255) NULL,
	[EtkinlikKategori] [nvarchar](100) NULL,
	[EtkinlikMekan] [nvarchar](200) NULL,
	[BaslangicTarihi] [datetime2](7) NOT NULL,
	[BitisTarihi] [datetime2](7) NULL,
	[YayindaMi] [bit] NOT NULL,
 CONSTRAINT [PK_Etkinlikler] PRIMARY KEY CLUSTERED 
(
	[EtkinlikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaaliyetRaporlari]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaaliyetRaporlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Yil] [int] NOT NULL,
	[Url] [nvarchar](500) NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_FaaliyetRaporlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Haberler]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Haberler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](150) NOT NULL,
	[Icerik] [nvarchar](max) NOT NULL,
	[ResimYolu] [nvarchar](200) NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[YayindaMi] [bit] NOT NULL,
 CONSTRAINT [PK_Haberler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IcKontrolUyumEylemPlanlari]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IcKontrolUyumEylemPlanlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](500) NOT NULL,
	[Aciklama] [nvarchar](2000) NULL,
	[PdfUrl] [nvarchar](500) NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[SiraNo] [int] NOT NULL,
 CONSTRAINT [PK_IcKontrolUyumEylemPlanlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ihaleler]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ihaleler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](200) NOT NULL,
	[Aciklama] [nvarchar](2000) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[Durum] [nvarchar](50) NOT NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[PdfUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_Ihaleler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IletisimBasvurulari]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IletisimBasvurulari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Konu] [nvarchar](200) NOT NULL,
	[Mesaj] [nvarchar](2000) NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[OkunduMu] [bit] NOT NULL,
 CONSTRAINT [PK_IletisimBasvurulari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IletisimFormlari]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IletisimFormlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KimlikNo] [nvarchar](50) NOT NULL,
	[DogumGunu] [int] NOT NULL,
	[DogumAyi] [int] NOT NULL,
	[DogumYili] [nvarchar](50) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Soyad] [nvarchar](100) NOT NULL,
	[CepTelefonu] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[BasvuruMetni] [nvarchar](2000) NOT NULL,
	[KisiBilgilerimiGizle] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[OkunduMu] [bit] NOT NULL,
 CONSTRAINT [PK_IletisimFormlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImarPlanlari]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImarPlanlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](500) NOT NULL,
	[Aciklama] [nvarchar](2000) NULL,
	[PdfUrl] [nvarchar](500) NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_ImarPlanlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Istatistikler]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Istatistikler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](100) NOT NULL,
	[Deger] [nvarchar](50) NOT NULL,
	[Ikon] [nvarchar](100) NULL,
	[SiraNo] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Istatistikler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IstekVeOneriler]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IstekVeOneriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KimlikNo] [nvarchar](50) NULL,
	[DogumGunu] [int] NULL,
	[DogumAyi] [int] NULL,
	[DogumYili] [nvarchar](10) NULL,
	[Ad] [nvarchar](100) NULL,
	[Soyad] [nvarchar](100) NULL,
	[CepTelefonu] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[BasvuruMetni] [nvarchar](2000) NOT NULL,
	[KisiBilgilerimiGizle] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[OkunduMu] [bit] NOT NULL,
 CONSTRAINT [PK_IstekVeOneriler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KaliteYonetimSistemleri]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KaliteYonetimSistemleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](500) NOT NULL,
	[Url] [nvarchar](500) NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[SiraNo] [int] NOT NULL,
 CONSTRAINT [PK_KaliteYonetimSistemleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KardesSehirler]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KardesSehirler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SehirAdi] [nvarchar](200) NOT NULL,
	[Ulke] [nvarchar](100) NULL,
	[ResimYolu] [nvarchar](500) NULL,
	[ProtokolTarihi] [datetime2](7) NULL,
	[SiraNo] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[BelediyeAdi] [nvarchar](200) NOT NULL,
	[KararNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_KardesSehirler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KvkkDokumanlari]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KvkkDokumanlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](500) NOT NULL,
	[Aciklama] [nvarchar](2000) NULL,
	[PdfUrl] [nvarchar](500) NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[SiraNo] [int] NOT NULL,
 CONSTRAINT [PK_KvkkDokumanlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginAttempts]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginAttempts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[IPAdresi] [nvarchar](45) NOT NULL,
	[BasarisizDenemeSayisi] [int] NOT NULL,
	[KilitlenmeTarihi] [datetime2](7) NULL,
	[SonDenemeTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LoginAttempts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeclisKararlari]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeclisKararlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](500) NOT NULL,
	[KararNo] [nvarchar](50) NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[PdfUrl] [nvarchar](500) NULL,
	[AktifMi] [bit] NOT NULL,
	[SiraNo] [int] NOT NULL,
 CONSTRAINT [PK_MeclisKararlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeclisUyeleri]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeclisUyeleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](200) NOT NULL,
	[Parti] [nvarchar](100) NOT NULL,
	[ResimYolu] [nvarchar](500) NULL,
	[SiraNo] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_MeclisUyeleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerformansProgramlari]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformansProgramlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaliYil] [int] NOT NULL,
	[Url] [nvarchar](500) NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_PerformansProgramlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[UploadDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PopupAnnouncements]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PopupAnnouncements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Icon] [nvarchar](100) NULL,
	[SiraNo] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PopupAnnouncements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuickMenuItems]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuickMenuItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](200) NOT NULL,
	[Url] [nvarchar](500) NULL,
	[Icon] [nvarchar](100) NULL,
	[MenuKategori] [nvarchar](50) NOT NULL,
	[Controller] [nvarchar](100) NULL,
	[Action] [nvarchar](100) NULL,
	[SiraNo] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[YeniSekmedeAc] [bit] NOT NULL,
 CONSTRAINT [PK_QuickMenuItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SifreYenilemeTalepleri]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SifreYenilemeTalepleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[TalepTarihi] [datetime2](7) NOT NULL,
	[Durum] [nvarchar](20) NOT NULL,
	[IslemTarihi] [datetime2](7) NULL,
	[IslemYapan] [nvarchar](50) NULL,
	[IpAdresi] [nvarchar](50) NULL,
 CONSTRAINT [PK_SifreYenilemeTalepleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SikcaSorulanSorular]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SikcaSorulanSorular](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoruBaslik] [nvarchar](500) NOT NULL,
	[CevapIcerik] [ntext] NOT NULL,
	[SiraNo] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[GuncellemeTarihi] [datetime2](7) NULL,
 CONSTRAINT [PK_SikcaSorulanSorular] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StratejikPlanlar]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StratejikPlanlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](500) NOT NULL,
	[Url] [nvarchar](500) NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[SiraNo] [int] NOT NULL,
 CONSTRAINT [PK_StratejikPlanlar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TakvimGunleri]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TakvimGunleri](
	[TakvimGunuID] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[Baslik] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TakvimGunuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefonRehberi]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonRehberi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KurumAdi] [nvarchar](200) NOT NULL,
	[Telefon] [nvarchar](100) NOT NULL,
	[SiraNo] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_TelefonRehberi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YararliLinkler]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YararliLinkler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LinkAdi] [nvarchar](200) NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
	[Kategori] [nvarchar](50) NOT NULL,
	[SiraNo] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[LogoUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_YararliLinkler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yonetmelikler]    Script Date: 28.01.2026 11:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yonetmelikler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](200) NOT NULL,
	[PdfUrl] [nvarchar](500) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[SiraNo] [int] NOT NULL,
 CONSTRAINT [PK_Yonetmelikler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251008085216_InitialCreate', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016095612_AddAnnouncementTable', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016101358_RemoveImageUrlFromAnnouncements', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[AdminLogs] ON 

INSERT [dbo].[AdminLogs] ([Id], [KullaniciAdi], [Islem], [TabloAdi], [Aciklama], [IPAdresi], [Tarih]) VALUES (1, N'admin', N'Giriş', NULL, N'Admin paneline giriş yapıldı', N'127.0.0.1', CAST(N'2025-12-30T03:58:54.7872238' AS DateTime2))
INSERT [dbo].[AdminLogs] ([Id], [KullaniciAdi], [Islem], [TabloAdi], [Aciklama], [IPAdresi], [Tarih]) VALUES (2, N'admin', N'Giriş', NULL, N'Admin paneline giriş yapıldı', N'127.0.0.1', CAST(N'2025-12-30T11:35:33.3489267' AS DateTime2))
INSERT [dbo].[AdminLogs] ([Id], [KullaniciAdi], [Islem], [TabloAdi], [Aciklama], [IPAdresi], [Tarih]) VALUES (3, N'admin', N'Giriş', NULL, N'Admin paneline giriş yapıldı', N'127.0.0.1', CAST(N'2025-12-30T11:43:03.1218534' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[AdminLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [KullaniciAdi], [SifreHash], [Rol], [AktifMi]) VALUES (1, N'admin', N'JAvlGPq9JyTdtvBO6x2llnRI1+gxwIyPqCKAn3THIKk=', N'BasAdmin', 1)
INSERT [dbo].[Admins] ([Id], [KullaniciAdi], [SifreHash], [Rol], [AktifMi]) VALUES (2, N'ömer', N'R7Z9I75S0HmuQTFAkNvRv3S9kzCAVJwcvWk6CTvdgL8=', N'Admin', 1)
INSERT [dbo].[Admins] ([Id], [KullaniciAdi], [SifreHash], [Rol], [AktifMi]) VALUES (3, N'davutgenç', N'vg3zIoIUvXzVijIiGDlNcBFdMprCKJJm9IlF9ozO35o=', N'Admin', 1)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[AfadAcilToplanmaAlanlari] ON 

INSERT [dbo].[AfadAcilToplanmaAlanlari] ([Id], [Adi], [Ilce], [Mahalle], [Enlem], [Boylam], [Elektrik], [Yol], [WcKanSistemi], [SiraNo], [AktifMi]) VALUES (1, N'Ağalar Atatürk Ortaokulu', N'Kocaali', N'Ağalar', N'41.05911985921771', N'30.85025053859695', 1, 1, 1, 1, 1)
INSERT [dbo].[AfadAcilToplanmaAlanlari] ([Id], [Adi], [Ilce], [Mahalle], [Enlem], [Boylam], [Elektrik], [Yol], [WcKanSistemi], [SiraNo], [AktifMi]) VALUES (3, N'Akpınar Camii Meydanı', N'Kocaali', N'Akpınar', N'41.009348252003804', N'30.80169962510202', 1, 1, 1, 2, 1)
INSERT [dbo].[AfadAcilToplanmaAlanlari] ([Id], [Adi], [Ilce], [Mahalle], [Enlem], [Boylam], [Elektrik], [Yol], [WcKanSistemi], [SiraNo], [AktifMi]) VALUES (4, N'Alandere Meydan', N'Kocaali', N'Alandere', N'41.074792', N'30.879976

', 1, 1, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[AfadAcilToplanmaAlanlari] OFF
GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([Id], [Title], [Content], [PublishDate], [ImageUrl]) VALUES (4, N'Hamsi Festivali', N'İlçemizde 23-24 ocak tarihleri arasında ilçe merkezinde gerçekleşecek olan hamsi festimalimize tüm halkımız davetlidir', CAST(N'2026-01-16T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Announcements] OFF
GO
SET IDENTITY_INSERT [dbo].[BasvuruKilavuzlari] ON 

INSERT [dbo].[BasvuruKilavuzlari] ([Id], [Baslik], [Aciklama], [DosyaUrl], [DisLink], [Sira], [AktifMi], [OlusturmaTarihi], [PdfUrl]) VALUES (2, N'asfasf', N'asfasfafa', N'', N'asdasda', 1, 1, CAST(N'2025-10-10T00:00:00.0000000' AS DateTime2), N'/yönetmelikpdf/kvkk.pdf')
SET IDENTITY_INSERT [dbo].[BasvuruKilavuzlari] OFF
GO
SET IDENTITY_INSERT [dbo].[BilgiEdinmeBasvurulari] ON 

SET IDENTITY_INSERT [dbo].[BilgiEdinmeBasvurulari] OFF
GO
SET IDENTITY_INSERT [dbo].[Calismalar] ON 

SET IDENTITY_INSERT [dbo].[Calismalar] OFF
GO
SET IDENTITY_INSERT [dbo].[EskiBaskanlar] ON 

INSERT [dbo].[EskiBaskanlar] ([Id], [AdSoyad], [Donem], [ResimYolu], [SiraNo], [AktifMi]) VALUES (3, N'Rıza Samrıoğlu', N'1956-1960', N'/Images/EskiBaskanlar/RızaSamrıoğlu.png', 1, 1)
INSERT [dbo].[EskiBaskanlar] ([Id], [AdSoyad], [Donem], [ResimYolu], [SiraNo], [AktifMi]) VALUES (4, N'Muzaffer Karan', N'1963-1963', N'/Images/EskiBaskanlar/MuzafferKaran.png', 2, 1)
INSERT [dbo].[EskiBaskanlar] ([Id], [AdSoyad], [Donem], [ResimYolu], [SiraNo], [AktifMi]) VALUES (5, N'Ömer Ulusinan', N'1964-1980 / 1989-1994', N'/Images/EskiBaskanlar/ÖmerUlusinan.png', 3, 1)
SET IDENTITY_INSERT [dbo].[EskiBaskanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Etkinlikler] ON 

INSERT [dbo].[Etkinlikler] ([EtkinlikID], [EtkinlikAdi], [EtkinlikTarihi], [EtkinlikAciklama], [EtkinlikResimYolu], [EtkinlikKategori], [EtkinlikMekan], [BaslangicTarihi], [BitisTarihi], [YayindaMi]) VALUES (1, N'Geleneksel Hamsi Festivali', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'İlçemizde 23-24 ocak tarihlerinde gerçekleşecek olan etkinliğimize tüm halkımız davetlidir ', N'/uploads/etkinlikler/639039395027570481_VpIuYMsNOGHXm9AA.jpg', N'Etkinlik', N'İlçe merkezi', CAST(N'2026-01-23T09:00:00.0000000' AS DateTime2), CAST(N'2026-01-24T18:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Etkinlikler] ([EtkinlikID], [EtkinlikAdi], [EtkinlikTarihi], [EtkinlikAciklama], [EtkinlikResimYolu], [EtkinlikKategori], [EtkinlikMekan], [BaslangicTarihi], [BitisTarihi], [YayindaMi]) VALUES (3, N'Geleneksel Yaz Açık Hava Sineması Etkinliği', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'Açık Hava Sinema Etkinliğimize Tüm halkımız davetlidir', N'/uploads/etkinlikler/639039402381524296_e3It6Oq1H0mztic8.jpg', N'Sinema Etkinliği', N'Açık Hava Sinema Alanı', CAST(N'2026-02-02T19:30:00.0000000' AS DateTime2), NULL, 1)
INSERT [dbo].[Etkinlikler] ([EtkinlikID], [EtkinlikAdi], [EtkinlikTarihi], [EtkinlikAciklama], [EtkinlikResimYolu], [EtkinlikKategori], [EtkinlikMekan], [BaslangicTarihi], [BitisTarihi], [YayindaMi]) VALUES (4, N'Geleneksel Yaz Açık Hava Sineması Etkinliği', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'Açık Hava Sinema Etkinliğimize Bütün Halkımız Davetlidir', N'/uploads/etkinlikler/639039403247176344_lkS2KxVNWDkQndBH.jpg', N'Sinema Etkinliği', N'Açık Hava Sinema Alanı', CAST(N'2026-02-06T20:00:00.0000000' AS DateTime2), CAST(N'2026-02-06T22:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Etkinlikler] OFF
GO
SET IDENTITY_INSERT [dbo].[FaaliyetRaporlari] ON 

INSERT [dbo].[FaaliyetRaporlari] ([Id], [Yil], [Url], [OlusturmaTarihi], [AktifMi]) VALUES (1, 2023, N'https://kocaali.bel.tr/Faaliyet-Raporlari/4/mobile/index.html', CAST(N'2021-12-30T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[FaaliyetRaporlari] ([Id], [Yil], [Url], [OlusturmaTarihi], [AktifMi]) VALUES (2, 2024, N'https://kocaali.bel.tr/Faaliyet-Raporlari/5/mobile/index.html', CAST(N'2022-12-30T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[FaaliyetRaporlari] ([Id], [Yil], [Url], [OlusturmaTarihi], [AktifMi]) VALUES (4, 2022, N'https://kocaali.bel.tr/Faaliyet-Raporlari/3/mobile/index.html', CAST(N'2026-01-22T14:41:46.6298119' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[FaaliyetRaporlari] OFF
GO
SET IDENTITY_INSERT [dbo].[Haberler] ON 

SET IDENTITY_INSERT [dbo].[Haberler] OFF
GO
SET IDENTITY_INSERT [dbo].[Ihaleler] ON 

INSERT [dbo].[Ihaleler] ([Id], [Baslik], [Aciklama], [ImageUrl], [Tarih], [Durum], [OlusturmaTarihi], [PdfUrl]) VALUES (2, N'dad', N'affafafa', N'/images/Baskan/bir.png', CAST(N'2025-10-12T00:00:00.0000000' AS DateTime2), N'devam eden', CAST(N'2025-12-11T00:00:00.0000000' AS DateTime2), N'/yönetmelikpdf/5393BelediyeKanunu.pdf')
INSERT [dbo].[Ihaleler] ([Id], [Baslik], [Aciklama], [ImageUrl], [Tarih], [Durum], [OlusturmaTarihi], [PdfUrl]) VALUES (3, N'sdfsfsdf', N'dfsfsdf', N'/images/Baskan/bir.png', CAST(N'2025-10-08T00:00:00.0000000' AS DateTime2), N'tamamlanan', CAST(N'2025-10-08T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Ihaleler] ([Id], [Baslik], [Aciklama], [ImageUrl], [Tarih], [Durum], [OlusturmaTarihi], [PdfUrl]) VALUES (4, N'dfdsfsfd', N'sdfsfs', N'/images/Baskan/bir.png', CAST(N'2025-02-02T00:00:00.0000000' AS DateTime2), N'planlanan', CAST(N'2025-02-02T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Ihaleler] OFF
GO
SET IDENTITY_INSERT [dbo].[IletisimFormlari] ON 

INSERT [dbo].[IletisimFormlari] ([Id], [KimlikNo], [DogumGunu], [DogumAyi], [DogumYili], [Ad], [Soyad], [CepTelefonu], [Email], [BasvuruMetni], [KisiBilgilerimiGizle], [OlusturmaTarihi], [OkunduMu]) VALUES (1, N'23456079994', 30, 8, N'2005', N'ömer', N'akyol', N'5551868225', N'omerakyol826@gmail.com', N'ömer1234', 0, CAST(N'2025-12-25T00:41:09.6527141' AS DateTime2), 1)
INSERT [dbo].[IletisimFormlari] ([Id], [KimlikNo], [DogumGunu], [DogumAyi], [DogumYili], [Ad], [Soyad], [CepTelefonu], [Email], [BasvuruMetni], [KisiBilgilerimiGizle], [OlusturmaTarihi], [OkunduMu]) VALUES (2, N'23456079994', 30, 8, N'2005', N'ömer', N'akyol', N'5551868225', N'omerakyol826@gmail.com', N'dfsdfsfsfsf', 1, CAST(N'2025-12-25T00:41:37.9711371' AS DateTime2), 1)
INSERT [dbo].[IletisimFormlari] ([Id], [KimlikNo], [DogumGunu], [DogumAyi], [DogumYili], [Ad], [Soyad], [CepTelefonu], [Email], [BasvuruMetni], [KisiBilgilerimiGizle], [OlusturmaTarihi], [OkunduMu]) VALUES (5, N'23456079994', 20, 11, N'2005', N'ömer', N'akyol', N'5551868225', N'omerakyol826@gmail.com', N'adadada', 0, CAST(N'2025-12-25T00:46:36.7776409' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[IletisimFormlari] OFF
GO
SET IDENTITY_INSERT [dbo].[ImarPlanlari] ON 

INSERT [dbo].[ImarPlanlari] ([Id], [Baslik], [Aciklama], [PdfUrl], [OlusturmaTarihi], [AktifMi]) VALUES (1, N'asdd', N'adasdad', N'/yönetmelikpdf/5393BelediyeKanunu.pdf', CAST(N'2024-12-12T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[ImarPlanlari] OFF
GO
SET IDENTITY_INSERT [dbo].[Istatistikler] ON 

INSERT [dbo].[Istatistikler] ([Id], [Baslik], [Deger], [Ikon], [SiraNo], [AktifMi], [OlusturmaTarihi]) VALUES (1, N'Nüfus', N'25.080', N'fas fa-users', 1, 1, CAST(N'2026-01-19T10:35:55.7660613' AS DateTime2))
INSERT [dbo].[Istatistikler] ([Id], [Baslik], [Deger], [Ikon], [SiraNo], [AktifMi], [OlusturmaTarihi]) VALUES (2, N'Asfalt', N'21 km', N'fas fa-route', 2, 1, CAST(N'2026-01-05T11:02:06.7410519' AS DateTime2))
INSERT [dbo].[Istatistikler] ([Id], [Baslik], [Deger], [Ikon], [SiraNo], [AktifMi], [OlusturmaTarihi]) VALUES (3, N'Tesis', N'4', N'fas fa-building-columns', 3, 1, CAST(N'2026-01-05T11:03:30.8408565' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Istatistikler] OFF
GO
SET IDENTITY_INSERT [dbo].[IstekVeOneriler] ON 

INSERT [dbo].[IstekVeOneriler] ([Id], [KimlikNo], [DogumGunu], [DogumAyi], [DogumYili], [Ad], [Soyad], [CepTelefonu], [Email], [BasvuruMetni], [KisiBilgilerimiGizle], [OlusturmaTarihi], [OkunduMu]) VALUES (1, N'23456079994', 17, 12, N'2005', N'ömer', N'akyol', N'05551868225', N'omerakyol826@gmail.com', N'ASDAD', 0, CAST(N'2025-12-25T12:18:23.7714245' AS DateTime2), 1)
INSERT [dbo].[IstekVeOneriler] ([Id], [KimlikNo], [DogumGunu], [DogumAyi], [DogumYili], [Ad], [Soyad], [CepTelefonu], [Email], [BasvuruMetni], [KisiBilgilerimiGizle], [OlusturmaTarihi], [OkunduMu]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ASDADSASDASDASD', 1, CAST(N'2025-12-25T12:18:48.9559667' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[IstekVeOneriler] OFF
GO
SET IDENTITY_INSERT [dbo].[KardesSehirler] ON 

INSERT [dbo].[KardesSehirler] ([Id], [SehirAdi], [Ulke], [ResimYolu], [ProtokolTarihi], [SiraNo], [AktifMi], [BelediyeAdi], [KararNo]) VALUES (2, N'Kocaeli', N'Türkiye', N'/images/KardesSehir/KörfezBelediyesiLogo.png', CAST(N'2018-01-01T00:00:00.0000000' AS DateTime2), 1, 1, N'Körfez', N'1')
SET IDENTITY_INSERT [dbo].[KardesSehirler] OFF
GO
SET IDENTITY_INSERT [dbo].[KvkkDokumanlari] ON 

INSERT [dbo].[KvkkDokumanlari] ([Id], [Baslik], [Aciklama], [PdfUrl], [OlusturmaTarihi], [AktifMi], [SiraNo]) VALUES (1, N'KVKK', NULL, N'/yönetmelikpdf/kvkk.pdf', CAST(N'2022-12-12T00:00:00.0000000' AS DateTime2), 1, 1)
SET IDENTITY_INSERT [dbo].[KvkkDokumanlari] OFF
GO
SET IDENTITY_INSERT [dbo].[MeclisKararlari] ON 

INSERT [dbo].[MeclisKararlari] ([Id], [Baslik], [KararNo], [Tarih], [Aciklama], [PdfUrl], [AktifMi], [SiraNo]) VALUES (1, N'ömer', N'1', CAST(N'2025-12-20T00:00:00.0000000' AS DateTime2), N'ömer faruk akyol', N'/yönetmelikpdf/5393BelediyeKanunu.pdf', 1, 1)
INSERT [dbo].[MeclisKararlari] ([Id], [Baslik], [KararNo], [Tarih], [Aciklama], [PdfUrl], [AktifMi], [SiraNo]) VALUES (4, N'davut', N'3', CAST(N'2025-08-12T00:00:00.0000000' AS DateTime2), N'davut genç', N'/yönetmelikpdf/ÇevreKorumaYönetmelik.pdf', 1, 3)
INSERT [dbo].[MeclisKararlari] ([Id], [Baslik], [KararNo], [Tarih], [Aciklama], [PdfUrl], [AktifMi], [SiraNo]) VALUES (5, N'ahmet', N'2', CAST(N'2024-09-14T00:00:00.0000000' AS DateTime2), N'ahmet hilmi', N'ZabıtaYönetmelik.pdf', 1, 2)
SET IDENTITY_INSERT [dbo].[MeclisKararlari] OFF
GO
SET IDENTITY_INSERT [dbo].[MeclisUyeleri] ON 

INSERT [dbo].[MeclisUyeleri] ([Id], [AdSoyad], [Parti], [ResimYolu], [SiraNo], [AktifMi]) VALUES (1, N'Ahmet Gökdemir', N'AK Parti', N'/images/meclisuyeleri/AhmetGokdemir_AKP.png', 1, 1)
INSERT [dbo].[MeclisUyeleri] ([Id], [AdSoyad], [Parti], [ResimYolu], [SiraNo], [AktifMi]) VALUES (2, N'Ali Osman Çelik', N'AK Parti', N'/images/meclisuyeleri/AliOsmanCelik_AKP.png', 2, 1)
INSERT [dbo].[MeclisUyeleri] ([Id], [AdSoyad], [Parti], [ResimYolu], [SiraNo], [AktifMi]) VALUES (4, N'Emre Yılmaz', N'AK Parti', N'/images/meclisuyeleri/EmreYilmaz_AKP.png', 3, 1)
SET IDENTITY_INSERT [dbo].[MeclisUyeleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([Id], [Title], [ImageUrl], [UploadDate]) VALUES (1, N'başkan1', N'/uploads/baskan1.jpg', CAST(N'2025-10-06T12:38:21.6309826' AS DateTime2))
INSERT [dbo].[Photos] ([Id], [Title], [ImageUrl], [UploadDate]) VALUES (4, N'başkan2', N'/uploads/baskan2.jpg', CAST(N'2025-10-06T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Photos] ([Id], [Title], [ImageUrl], [UploadDate]) VALUES (6, N'başkan3', N'/uploads/baskan3.jpg', CAST(N'2025-10-06T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Photos] OFF
GO
SET IDENTITY_INSERT [dbo].[PopupAnnouncements] ON 

INSERT [dbo].[PopupAnnouncements] ([Id], [Title], [ImageUrl], [Icon], [SiraNo], [AktifMi], [OlusturmaTarihi]) VALUES (4, N'hamsi festivali', N'/uploads/popup-duyurular/639041727059141455_qu134zZo8GIxd44u.jpg', NULL, 1, 1, CAST(N'2026-01-16T15:05:05.0000000' AS DateTime2))
INSERT [dbo].[PopupAnnouncements] ([Id], [Title], [ImageUrl], [Icon], [SiraNo], [AktifMi], [OlusturmaTarihi]) VALUES (5, N'kakfmewfafke', NULL, N'fas fa-bullhorn', 2, 1, CAST(N'2026-01-28T11:43:20.5123090' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PopupAnnouncements] OFF
GO
SET IDENTITY_INSERT [dbo].[SifreYenilemeTalepleri] ON 

INSERT [dbo].[SifreYenilemeTalepleri] ([Id], [KullaniciAdi], [TalepTarihi], [Durum], [IslemTarihi], [IslemYapan], [IpAdresi]) VALUES (1, N'ömer', CAST(N'2026-01-05T13:25:16.4046874' AS DateTime2), N'Onaylandı', CAST(N'2026-01-05T13:30:12.1968989' AS DateTime2), N'admin', N'127.0.0.1')
SET IDENTITY_INSERT [dbo].[SifreYenilemeTalepleri] OFF
GO
SET IDENTITY_INSERT [dbo].[SikcaSorulanSorular] ON 

INSERT [dbo].[SikcaSorulanSorular] ([Id], [SoruBaslik], [CevapIcerik], [SiraNo], [AktifMi], [OlusturmaTarihi], [GuncellemeTarihi]) VALUES (1, N'nikah işlemleri', N'<h3> YAPILACAKLAR</h3>
sdasdjad
jasdnnkjda
akjsdnlakjds', 1, 1, CAST(N'2026-01-05T11:28:00.2955628' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[SikcaSorulanSorular] OFF
GO
SET IDENTITY_INSERT [dbo].[TakvimGunleri] ON 

INSERT [dbo].[TakvimGunleri] ([TakvimGunuID], [Tarih], [Baslik]) VALUES (1, CAST(N'2025-11-04T00:00:00.0000000' AS DateTime2), N'kıjufdzgjg')
INSERT [dbo].[TakvimGunleri] ([TakvimGunuID], [Tarih], [Baslik]) VALUES (2, CAST(N'2025-11-20T00:00:00.0000000' AS DateTime2), N'ömer 123')
INSERT [dbo].[TakvimGunleri] ([TakvimGunuID], [Tarih], [Baslik]) VALUES (3, CAST(N'2026-01-23T00:00:00.0000000' AS DateTime2), N'Hamsi Festivali')
SET IDENTITY_INSERT [dbo].[TakvimGunleri] OFF
GO
SET IDENTITY_INSERT [dbo].[TelefonRehberi] ON 

INSERT [dbo].[TelefonRehberi] ([Id], [KurumAdi], [Telefon], [SiraNo], [AktifMi]) VALUES (1, N'Sakarya Valiliği', N'0264 251 35 15', 1, 1)
INSERT [dbo].[TelefonRehberi] ([Id], [KurumAdi], [Telefon], [SiraNo], [AktifMi]) VALUES (2, N'Sakarya Büyükşehir Belediyesi', N'0264 289 30 00', 2, 1)
INSERT [dbo].[TelefonRehberi] ([Id], [KurumAdi], [Telefon], [SiraNo], [AktifMi]) VALUES (3, N'Kocaali Kaymakamlığı', N'0264 812 11 60', 3, 1)
SET IDENTITY_INSERT [dbo].[TelefonRehberi] OFF
GO
SET IDENTITY_INSERT [dbo].[YararliLinkler] ON 

INSERT [dbo].[YararliLinkler] ([Id], [LinkAdi], [Url], [Kategori], [SiraNo], [AktifMi], [LogoUrl]) VALUES (1, N'e-DEVLET KAPISI', N'https://www.turkiye.gov.tr/', N'Ulusal', 1, 1, N'/images/footerlogo/turkiye.png')
INSERT [dbo].[YararliLinkler] ([Id], [LinkAdi], [Url], [Kategori], [SiraNo], [AktifMi], [LogoUrl]) VALUES (2, N'İÇİŞLERİ BAKANLIĞI', N'https://www.icisleri.gov.tr/', N'Ulusal', 2, 1, N'/images/footerlogo/içişleri.png')
INSERT [dbo].[YararliLinkler] ([Id], [LinkAdi], [Url], [Kategori], [SiraNo], [AktifMi], [LogoUrl]) VALUES (3, N'KAMU DENETÇİLİĞ KURUMU', N'https://www.ombudsman.gov.tr/', N'Ulusal', 3, 1, N'/images/footerlogo/Kamu_Denetçiliği_Kurumu_Logo.svg.png')
SET IDENTITY_INSERT [dbo].[YararliLinkler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yonetmelikler] ON 

INSERT [dbo].[Yonetmelikler] ([Id], [Baslik], [PdfUrl], [AktifMi], [SiraNo]) VALUES (3, N'5393 Sayılı Belediye Kanunu', N'/yönetmelikpdf/5393BelediyeKanunu.pdf', 1, 1)
INSERT [dbo].[Yonetmelikler] ([Id], [Baslik], [PdfUrl], [AktifMi], [SiraNo]) VALUES (4, N'Çevre Koruma ve Kontrol Müdürlüğü Çalışma Yönetmeliği', N'/yönetmelikpdf/ÇevreKorumaYönetmelik.pdf', 1, 2)
INSERT [dbo].[Yonetmelikler] ([Id], [Baslik], [PdfUrl], [AktifMi], [SiraNo]) VALUES (7, N'Fen İşleri Müdürlüğü Çalışma Yönetmeliği', N'/yönetmelikpdf/FenİşleriYönetmelik.pdf', 1, 3)
SET IDENTITY_INSERT [dbo].[Yonetmelikler] OFF
GO
ALTER TABLE [dbo].[Etkinlikler] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [BaslangicTarihi]
GO
ALTER TABLE [dbo].[Etkinlikler] ADD  DEFAULT (CONVERT([bit],(0))) FOR [YayindaMi]
GO
ALTER TABLE [dbo].[Haberler] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Haberler] ADD  DEFAULT (CONVERT([bit],(0))) FOR [YayindaMi]
GO
ALTER TABLE [dbo].[KardesSehirler] ADD  DEFAULT (N'') FOR [BelediyeAdi]
GO
USE [master]
GO
